#section-1 .parallax {
    padding-top: 65px;
    padding-bottom: 80px;
    overflow: hidden;
    width: 100%;
    background-image: url(../assets/justica.png);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#section-1 h1 {
    text-shadow: 1px 3px black;
}

#section-1 iframe {
    padding: 0;
    border-radius: 5px;
    max-height: 600px;
    width: 100%;
    margin-bottom: -5px;
}

#section-1 a.btn {
    position: absolute;
    left: 50%;
    width: 500px;
    font-size: xx-large;
    margin-left: -250px;
    margin-top: -35px;
    text-shadow: 1px 1px #1b03eb;
    border-radius: 15px;
    box-shadow: 1px 5px #1b03eb;
    font-weight: 700;
}

#section-2 {
    background-color: #111111;
}

#section-3 {
    background-color: #0854ff;
    color: white;
}

footer {
    background-color: #000000;
}

/* Media Queries */
@media screen and (max-width: 959px) and (min-width: 768px) {}

@media screen and (max-width: 767px) {
    #section-1 .parallax {
        padding: 20px 0 50px;
    }
    #section-1 iframe {
        height: 300px;
    }
    #section-1 a.btn {
        width: 300px;
        font-size: large;
        margin-left: -150px;
        margin-top: -15px;
    }
}

@media screen and (max-width: 479px) {}