#clock {
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clock > div {
	padding: 10px;
	border-radius: 3px;
	background: repeating-radial-gradient(#010f52b8, transparent 150px);
	display: inline-block;
    width: 120px;
}

#clock div > span {
	padding: 15px;
	border-radius: 3px;
	background: #003972;
	display: inline-block;
    width: 80px;
}